.detail-container{
    border: 1px solid  rgb(233, 232, 232);
    border-radius: 10px;
    margin: 20px;
    padding:20px;
    text-align:center;
    height: 360px;
    width: 350px;
    background-color: rgb(233, 232, 232);
}
.search-btn{
    background: tomato;
    border: 1px solid tomato;
    margin: 10px 10px;
    padding: 5px 65px;
    border-radius: 5px;
    color: white;
}
.search-btn:hover{
    background-color: rgb(223, 224, 135);
}
.map-container{
    width: 50%;
}