
.link{
    padding: 10px;
    margin-right: 5px;
    font-size: large;
    text-decoration: none;
    color:black;
    display:block;
    text-align:center;
}

.link-container{
    list-style-type: none;
    overflow: hidden;
    width: 80%;
    margin: 30px auto;
}
.link {
    float: right;
}
.name-link{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.style{
    background-color: tomato;
}

@media screen and (max-width: 600px) {
    .link-container li.name-link, 
    .link-container .link {float: none;}
  }