.container-header{
    margin-bottom: 5px;
    padding: 10px 40px;
    background-color: tomato;
    border-radius: 10px;
}
.vehicle-img{
    width: 20%;
}
.vehicle-details{
    display: flex;
    background-color: white;
    padding: 5px 5px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.vh{
    margin-right: 10px;
}
.ps{
    margin-right: 80px;
}